header nav {
    height: 80px;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav.active {
    border-bottom: none;
}

nav .hamburger-menu {
    position: absolute;
    right: 30px;
}

nav .bar {
    height: 2px;
    width: 30px;
    background-color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    /* transition: all .4s ease-in-out; */
}

nav .bar::before {
    height: 100%;
    width: 100%;
    background-color: black;
    content: '';
    position: absolute;
    top: -10px;
}

nav .bar::after {
    height: 100%;
    width: 100%;
    background-color: black;
    content: '';
    position: absolute;
    bottom: -10px;
}

nav .bar.active {
    background-color: transparent;
}

nav .bar.active::after {
    bottom: 0;
    transform: rotate( -45deg );
    transition: all .4s ease-in-out
}

nav .bar.active::before {
    top: 0;
    transform: rotate( 45deg );
    transition: all .4s ease-in-out;
}

.option {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out;
    position: fixed;
    transform: translateX(60%);
}

.option.active {
    transform: translateX(0%);
    transition: all .4s ease-in-out;
}

.option a {
    margin: 15px 0px;
    font-size: 40px;
    text-decoration: none;
    font-family: Arial;
    color: black;
}